.open-commits{
    margin-right: 8px;
}
.teamwork{
    margin-right: 8px;
}
.teamwork #teamwork-dropdown {
    padding: 16px;
    width: fit-content;
    cursor: default;
    display: flex;
    flex-direction: column;
}
.teamwork #teamwork-dropdown .button-group{
    display: flex;
    margin-bottom: 8px;
    gap: 8px;
}
.teamwork #teamwork-dropdown .button-group button {
    width: 100%;
}
.teamwork #teamwork-dropdown ul li{
    margin: 4px 0;
}
